In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
filepath = "H:/Projects/CryptoBot/btcusd_1-min_data.csv"
data = pd.read_csv(filepath)

In [3]:
data.dropna()
print(f"Dataset Shape: {data.shape}")
print(f"Column Names: {data.columns.to_list()}")
print(f"Data Types")
print(data.dtypes)
print("\nNull Values in Each Column:")
print(data.isnull().sum())

Dataset Shape: (6747281, 6)
Column Names: ['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume']
Data Types
Timestamp    float64
Open         float64
High         float64
Low          float64
Close        float64
Volume       float64
dtype: object

Null Values in Each Column:
Timestamp    1
Open         0
High         0
Low          0
Close        0
Volume       0
dtype: int64

In [4]:
print(f"Null values in 'timestamp' column: {data['Timestamp'].isnull().sum()}")
data['Timestamp']= data['Timestamp'].fillna(data["Timestamp"].median())
print(f"Null values in 'timestamp' column: {data['Timestamp'].isnull().sum()}")

Null values in 'timestamp' column: 1
Null values in 'timestamp' column: 0

In [5]:
data['Timestamp'] =pd.to_datetime(data['Timestamp'],unit = 's')

In [6]:
print(data.dtypes)

Timestamp    datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume              float64
dtype: object

In [7]:
data.head()

            Timestamp  Open  High   Low  Close  Volume
0 2012-01-01 10:01:00  4.58  4.58  4.58   4.58     0.0
1 2012-01-01 10:02:00  4.58  4.58  4.58   4.58     0.0
2 2012-01-01 10:03:00  4.58  4.58  4.58   4.58     0.0
3 2012-01-01 10:04:00  4.58  4.58  4.58   4.58     0.0
4 2012-01-01 10:05:00  4.58  4.58  4.58   4.58     0.0

In [8]:
print(max(data['Timestamp']))

2025-01-21 00:00:00

In [9]:
data['year'] = data['Timestamp'].dt.year

In [10]:
def get_first(series):
    return series.iloc[0]
def get_last(series):
    return series.iloc[-1]

In [11]:
yearly_summary = data.groupby('year').agg({
    'Open': get_first,
    'High':'max',
    'Close':get_last,
    'Volume': 'sum'
}).reset_index()
yearly_summary

    year      Open       High      Close        Volume
0   2012      4.58      16.41      13.24  5.673124e+05
1   2013     13.24    1163.00     734.33  5.029942e+06
2   2014    734.33     995.00     316.67  5.023635e+06
3   2015    316.67     502.00     431.28  5.526717e+06
4   2016    430.91     980.74     963.16  1.992483e+06
5   2017    963.16   19666.00   13808.19  4.697959e+06
6   2018  13840.53   57864.00   57835.00  3.932025e+06
7   2019   3750.62   13880.00    7139.78  2.995449e+06
8   2020   7145.05   29300.00   28920.98  3.072456e+06
9   2021  28912.47   69000.00   46648.83  1.804451e+06
10  2022  46659.24   48234.00   16567.00  8.341079e+05
11  2023  16567.00   44729.00   42639.00  6.815442e+05
12  2024  42652.00  108364.00   93381.00  6.579865e+05
13  2025  93347.00  109030.00  102174.00  1.305825e+04